.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el título de la sección Cotización */
.cotizacion h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
}

/* Estilos adicionales para resaltar el título */
.cotizacion h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #007bff;
  margin: 10px auto;
}

  
  /* Estilos para el cuerpo de la sección Cotización */
.cotizacion-form {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cotizacion-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.cotizacion-form input,
.cotizacion-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.cotizacion-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cotizacion-form button:hover {
  background-color: #0056b3;
}
